body {
    margin: 0;
    padding: 0;
    border-radius: 15px;
}
  .namecard{
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    display: grid;
    max-width: 350px;
    max-height: 250px;
    background-color: rgb(255, 0, 0);
    font-family: Arial;
    text-align: center;
    letter-spacing: .2em;
    font-family: "Comic Sans MS";
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(216, 214, 214);
    box-shadow: 1px 2px 5px rgb(71, 71, 71), inset 0 0 100px rgb(70, 70, 70);
    transform: rotate(-10deg);
    /* sets the grid and display for the namecard as well as the text align and font, sets the namecard to the middle of the page, rotates and adds shading */
}
  .hello {
    align-items: center;
    font-size: 20px;
    color: rgb(238, 227, 227);
    position: relative;
    bottom: 20px;
    /* controls the text for the top of the namecard, sets the oclor and position from the rest of the text */
    }
  .given-name {
      background-color: rgb(236, 236, 236);
      color: black;
      font-size: 60px;
      font-weight: bold;
      height: 80px;    }  
      /* controls the white box and the text whithin it */
    p {
        margin: 0;
    }